# ======================
# OS / SYSTEM
# ======================
.DS_Store
Thumbs.db

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.py[cod]

# ======================
# VIRTUAL ENV
# ======================
venv/
env/
.venv/

# ======================
# ENV / SECRETS
# ======================
.env

# ======================
# MODEL / ML ARTIFACTS
# ======================
*.pkl
*.joblib
*.h5
*.pt
*.pth

# ======================
# JUPYTER TEMP
# ======================
.ipynb_checkpoints/

# ======================
# LOGS / TEMP
# ======================
*.log
*.tmp

# ======================
# IDE (optional but common)
# ======================
.vscode/
.idea/
